<div class="container table-users">
    <h2 class="text-center">User's List</h2>
    <div class="row">
        <div class="col-6">
            <input type="text" class="user-search">

        </div>
        <div class="col-6"></div>
    </div>
    <table class="table">
        <tbody>

            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Added On</th>
                <th>Updated On</th>
                <th>Actions</th>
            </tr>

            <tr *ngFor="let user of userList">
                <td>{{user.firstName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.createdOn | date}}</td>
                <td>{{user.updatedOn | date}}/td>
                <td>
                    <mat-icon [matMenuTriggerFor]="menu" class="menubutton cursor">more_vert</mat-icon>
                    <mat-menu #menu="matMenu" yPosition="below">
                        <button mat-menu-item (click)="deleteUser(user)">
                            <i class="icon col-blue mat-icon fa fa-trash-o" aria-hidden="true"></i>Delete
                        </button>
                        <!-- <button mat-menu-item (click)="adjustpoints()">
                            <mat-icon>history</mat-icon>View Activity List
                        </button> -->
                    </mat-menu>
                </td>
            </tr>
        </tbody>

    </table>



</div>