<!-- <button  (click)="login()">Login</button> -->

<div class="text-center home-banner">
  <img src="./assets/login-banner.png" alt="">
  <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
  Or <button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Signup</button>
</div>

<div id="id01" class="modal">
  <form class="modal-content animate" [formGroup]="signinForm" (ngSubmit)="signIn()">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close"
        title="Close Modal">&times;</span>
    </div> 
    <div class="container">
      <h3>Login</h3>
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" formControlName='email'>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" formControlName='password' >
      <input type="submit" value="Login">

    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'"
        class="cancelbtn">Cancel</button>
      <span class="psw" (click)="forgetPassword()">Forgot password?</span>
    </div>
  </form>
</div>

<!-- //Register popup -->

<div id="id02" class="modal">
  <form class="modal-content animate" [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close"
        title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <h3>Register</h3>
      <label><b>Name</b></label>
      <input type="text" placeholder="Enter Firstname" formControlName='firstName'>
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" formControlName='email'>
      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" formControlName='password'>
      <input type="submit" value="SignUp" >

    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'"
        class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<!-- end -->