.dasboard-section {
    padding-top: 17px;
  }
  .wrapper {
    display: flex;
  }
  /* left-nav */
.sidebar {
    width: 300px;
    list-style: none;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
    background-color: darkslateblue;
    color: white;
  }
  
  .sidebar .icon {
    height: 50px;
  }
  
  .navbar-list {
    list-style: none;
    background-color: #404040;

  }
  
  .sidebar .list {
    display: flex;
  }
  
  .sidebar .hideable {
    display: unset;
  }
  
  .main-menu {
     padding: 10px;
    padding: 10px 0px 10px 0px;

    cursor: pointer;
    margin-bottom: 6px;
  }
  
  .sidebar.compress {
    width: 38px;
  }
  
  .sidebar.compress .hideable {
    display: none !important;
  }
  
  .leftt {
    display: block;
  }
  
  .text {
  }
  
  .navbar-image {
    width: 61px;
    padding-top: 45px;
    -webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.75);
  }
  
  .iconss {
    font-size: 20px !important;
    cursor: pointer;
  }
  
  .priscription-icon {
    font-size: 17px;
    font-weight: 600;
    padding-left: 8px;
  }
  
  .head-nav {
  }
  
  .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #eeeeee;
  }
  
  .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #fafafa;
    border-color: #eeeeee;
  }
  
  .panel-title {
    font-size: 14px;
  }
  
  .panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
  }
  
  .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #eeeeee;
  }
  
  .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #fafafa;
    border-color: #eeeeee;
  }
  
  .panel-title {
    font-size: 14px;
  }
  
  .panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
  }
  
  .plus-icon {
    float: right;
  }
  
  .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #eeeeee;
  }
  
  .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #fafafa;
    border-color: #eeeeee;
  }
  
  .panel-title {
    font-size: 14px;
  }
  
  .panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
  }
  
  .more-less {
    float: right;
    color: #212121;
  }
  
  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #eeeeee;
  }
  
  .navbar-imagess {
    cursor: context-menu;
  }
  
  .main-menu.collapsed .plus-icon {
    display: block;
    font-size: 22px;
        padding-right: 6px;
  }
  
  .main-menu.collapsed .minus-icon {
    display: none;
  }
  
  .main-menu .plus-icon {
    display: none;
  }
  
  .main-menu .minus-icon {
    display: block;
    float: right;
    font-size: 37px;
    padding-right: 6px;

   
  }
  
  .home-plus-icon {
    padding-left: 125px;
    padding-top: 4px;
  }
  
  .home-minus-icon {
    padding-left: 120pxpx;
  }
  
  .patient-master {
    padding-left: 73px;
  }
  
  .menu-bar {
    cursor: pointer;
  }
  
  .drop-menu {
    position: relative;
    left: -155px;
    top: -26px;
    -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.75) !important;
    cursor: pointer !important;
  }
  
  .drop-menu > li {
    padding: 9px;
  }
  
  .graphs {
    position: relative;
    left: -48px;
  }
  
  .table-headings {
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 27px;
    padding: 8px;
  }
  
  .abled-color:hover {
    color: white;
    background-color: lightgray;
  }
  
  .disabled-color {
    background-color: white;
  }
  
  /* .list-left-navbar:hover{
    background-color:gray;
  } */
  .navbar-list > li:hover {
    color: lightgray !important;
  }
  
  .navbar-list > li {
    color: white !important;
    cursor: pointer;
    padding: 8px;

  }
  
  .icons-add-patient {
    padding-left: 11px;
    padding-right: 11px;
  }
  
  .display-data {
    overflow-x: auto;
    margin-top: 33px;
  }
  
  /* tr:nth-child(even) {
    background-color: #f2f2f2
  } */
  
  .patient-table {
    cursor: context-menu !important;
    background-color: white !important;
    color: black !important;
  }
  
  .dasboard-section {
    padding-top: 17px;
  }
  
  .inline-fields {
    display: block !important;
  }
  
  .theme-color {
    color: white;
    width: 25px;
    padding-left: 5px;
  }
  .theme-color:hover{
    color: #404040 !important;
  }
  
  .login-selection {
    -webkit-box-shadow: 3px 7px 17px -5px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    padding-top: 121px;
  }
  
  .login-selection:hover {
    width: 40;
  }
  
  .cursors {
    cursor: pointer;
  }
  
  .view-more {
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .bell-dropdown {
    font-size: 13px;
    font-weight: 700;
    width: 100%;
    border-bottom: 1px solid #eee;
    text-align: center;
    padding: 4px 0 6px;
  }
  
  .view-more-modal {
    width: 162% !important;
    position: relative;
    left: -144px;
  }
  
  .view-drug-modal {
    border: none;
    padding: 0px;
    background-color: transparent;
  }
  
  .view-drug-modal:hover {
    background-color: #2196f3;
  }
  
  .header-patient {
    color: #007bff !important;
    padding-top: 23px;
    font-weight: 500 !important;
  }
  
  #doctor-save-btn {
    width: 28% !important;
    cursor: pointer;
    margin: 5px;
  }
  
  @media only screen and (max-width: 425px) {
    .sidebar {
      position: fixed;
      margin-top: 81px;
      z-index: 99;
      width: 53%;
    }
  }
  
  .tabs-patient-profile {
    color: white;
    background-color: #007bff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  @media only screen and (max-width: 425px) {
    .sidebar.compress {
      width: 0px;
    }
  }


  
.abled-color:hover {
    color: #404040;
    background-color: lightgray;
  }
  
  .disabled-color {
    background-color: white;
  }
  
  /* .list-left-navbar:hover{
    background-color:gray;
  } */
  .navbar-list > li:hover {
    color: white !important;
  }
  
  .navbar-list > li {
    color: black !important;
  }

  .main-content {
    width: 100%;
  }
  .header-section {
    margin-top: 10px;
    -webkit-box-shadow: -1px 14px 16px -6px rgba(0, 0, 0, 0.75);
    padding-bottom: 12px;
    border-radius: 26px;

  }
  .menu-bar {
    cursor: pointer;
  }
  .clinic-name {
    font-size: 22px;
    padding-left: 22px;
    font-weight: 600;
    color: #2196f3;
    position: absolute;
    top: 4px;
  }
  .header-icons {
    padding-right: 20px;
    color: #2196f3;
    margin-top: 4px;
  }    
  .right-items {
    text-align: right !important;
  }

  .sidebar h3{
      border-bottom: 1px solid;
      padding-bottom: 12px;
    font-size: 20px;
    text-align: center;

  }
  .header-image {
    height: 24px;
    border-radius: 10px;
    margin-right: 20px;
  }
.noti {
  margin-right: 18px !important;
  color: rebeccapurple;


}

.noti {
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.noti:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
  .admin-img img{
    width: 71%;
    border-radius: 138px;
  }