/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.user-search{
    width: 100%;
    border-radius: 10px;
    border: 1px
}
.cursor{
    cursor: pointer;
}