<!-- //Foget popup -->

<div>
    <form>


        <div class="container">
            <h3 class="text-center">Forget Password</h3>
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname">
            <div class="row">
                <div class="col-6">
                    <button>Send</button>

                </div>
                <div class="col-6">

                    <button (click)= "back()">Cancel</button>

                </div>
            </div>

        </div>
    </form>
</div>